@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #121212; /* Fundo mais escuro */
    --verde: #00FFC6; /* Verde-água brilhante */
    --branco: #E0E0E0; /* Um branco mais suave */
    --botao-ativo: #005F73; /* Azul petróleo escuro */
    --botao-inativo: rgba(0, 95, 115, 0.5); /* Azul petróleo mais transparente */
    --texto-fundo: rgba(0, 95, 115, 0.3); /* Azul petróleo mais claro */
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao {
    font-family: "Chakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: var(--botao-ativo); /* Quando passar o mouse */
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

